[Desktop Entry]
StartupNotify=false
Terminal=false
Name=Infinitetux.
Exec=infinitetux
Type=Application
Icon=infinitetux
NoDisplay=false
Categories=Game;ArcadeGame;
Keywords=game;arcade;platform;
Comment=2D platformer game inspired by Infinite Mario
