Package: infinitetux
Version: 1.0
Architecture: all
Maintainer: qbancoffee <qbancoffee@yahoo.com>
Installed-Size: 1126
Depends: jarwrapper, openjdk-8-jre
Section: x11
Priority: optional
Homepage: https://github.com/qbancoffee/infinite-tux
Description: A 2D platformer inspired by Infinite Mario.
 Java based Mario Bros. clone that has had the artwork changed with open source files. Tux is the main character instead of Mario
