Source: infinitetux
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders:
 qbancoffee <qbancoffee@yahoo.com>
Standards-Version: 4.3.0
Build-Depends:
 debhelper-compat (= 12),
 default-jdk,
 javahelper
Homepage: https://github.com/qbancoffee/infinite-tux
Vcs-Git: https://salsa.debian.org/games-team/infinitetux.git
Vcs-Browser: https://salsa.debian.org/games-team/infinitetux

Package: infinitetux
Description: 2D platformer game inspired by Infinite Mario
 Infinite Tux is a 2D platformer game inspired by Infinite Mario.
 The game is procedurally generated every time it is replayed, so
 you always play a different game.
 You can break blocks, run fast, collect coins and get one-ups.
 Run through the levels stepping on enemies and spitting colorful
 spit balls to kill them. Carry de-hatched chick eggs and launch
 them towards other enemies to kill them too!
 Infinite Tux recreates the feel of those fun 1980's platformer games
 that kept people sitting in front of their CRT television sets for
 hours on end. Have fun and enjoy this 8 bit retro style game!
Architecture: all
Depends:
 default-jre | java8-runtime,
 jarwrapper,
 ${misc:Depends}
